.procedure-main {
    background-color: #161D41;
    width: 100%;
}
.procedure-title-img img {
    width: 1200px;
    height: 620px;
    object-fit: cover;
    border-radius: 10px;
}
.silder {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s ease;
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow {
    position: absolute;
    font-size: 3rem;
    top: 50%;
    left: 32px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: #fff;
}
.procedure-title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    padding: 60px 0;
    flex-wrap: wrap;
    font-weight: 600;
}
.img-desc {
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
}
.img-desc-1,
.img-desc-2 {
    color: #fff;
    font-size: 2rem;
    width: 50%;
    margin: 20px 40px;
}
.img-desc-2 {
    font-size: 1.2rem;
}
