.field-title {
    margin: 80px 0;
    padding: 0 20px 0 20px;
}
.field-title h3 {
    font-size: 3rem;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}
.field-title p {
    font-size: 1.1rem;
    max-width: 80%;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
}
.field-title-desc {
    padding: 0 20px 0 20px;
    display: flex;
    width: 100%;
}
.branch {
    width: 50%;
    margin-right: 30px;
}
.branch-item {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #ccc;
}
.branch-item i {
    font-size: 1.2rem;
    margin-left: 10px;
    width: 40px;
}
.item-field {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 1.2rem;
}
.title-blog {
    width: 60%;
    margin-left: 30px;
    padding-right: 20px;
}
.title-blog img {
    width: 660px;
    height: 315px;
    transform: scale(1);
    transition: transform 30s cubic-bezier(.19,1,.22,1),-webkit-transform 30s cubic-bezier(.19,1,.22,1);
    margin-bottom: 10px;
}
.name {
    display: flex;
}
.name h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: #f3f3f3;
}
.title-blog-desc h3 {
    line-height: 1.2;
    padding-bottom: 10px;
    font-size: 2rem;
}
.title-blog-desc p {
    margin-bottom: 10px;
}