.wrap-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-bottom: 100px;
}
.item-end {
    display: flex;
    float: left;
    max-width: 33.33333%;
}
.img-end {
    margin-right: 30px;
}
.title-end h3{
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}
.title-end p {
    max-width: 80%;
    font-size: 1.1rem;
    letter-spacing: .9px;
    line-height: 1.5;
}