.imgcenter {
    text-align: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.togeter .imgcenter img {
    height: auto;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}